body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ced2dd;
    width: 60%;
    margin: 20px auto;
    border: 10px solid #0d0d0d;
}

.title {
    font-size: 36px;
    letter-spacing: 3px;
    color: #d9376e;
    background-color: #0d0d0d;
    padding: 20px;
    margin: 0px auto 40px auto;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    grid-gap: 10px;
    margin: 30px;
    justify-content: center;
}

.grid-item {
    background-color: #d9376e;
    border: none;
}

.grid-item div {
    font-size: 50px;
    font-weight: 700;
    color: #ced2dd;
}

.text p {
    text-align: center;
    font-size: 26px;
    color: #0d0d0d;
    letter-spacing: 2px;
}

.button {
    display: block;
    margin: auto;
    width: 120px;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    background-color: #0d0d0d;
    color: #ced2dd;
    font-size: 20px;
    letter-spacing: 2px;
}