* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(195, 48, 48);
    margin: 0;
}

#main-doc {
    margin-left: 348px;
    background-color: rgb(45, 45, 45);
}

#navbar {
    position: fixed;
    background-color: rgb(14, 14, 14);
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    margin: 0px 10px;
    padding: 10px;
    border-left: 4px solid rgb(49, 0, 0);
    border-right: 4px solid rgb(49, 0, 0);
}

.header_nav {
    padding: 30px 10px;
    text-align: center;
    font-size: 36px;
    color: white;
}

#navbar ul {
    padding: 0;
}

.link-nav {
    list-style: none;
    width: 100%;
    padding: 20px 0;
    font-size: 22px;
    letter-spacing: 2px;
    border-top: 2px solid white;
}

a {
    text-decoration: none;
    color: rgb(195, 48, 48);
    padding-left: 10px;
}

i {
    color: white;
    padding-right: 8px;
    padding-left: 10px;
    font-size: 16px;
}

.main-section {
    margin: 0px 10px;
    padding: 50px 30px;
}

.header {
    color: rgb(195, 22, 22);
    font-size: 30px;
    padding-left: 20px;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

p {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

h3 {
    font-size: 22px;
    text-decoration: underline overline;
    margin-top: 100px;
}

.first {
    margin-top: 20px;
}

.list-element {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

b {
    color: rgb(165, 77, 77);
    font-size: 21px;
}

code {
    font-size: 18px;
    color: rgb(195, 22, 22);
}

img {
    margin-left: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1150px) {
    #main-doc {
        margin-left: 288px;
    }
    
    #navbar {
        width: 240px;
    }
    
    .header_nav {
        font-size: 30px;
    }
    
    .link-nav {
        font-size: 20px;
    }

    .header {
        font-size: 26px;
    }
    
    p {
        font-size: 18px;
        line-height: 25px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    .list-element {
        font-size: 18px;
        line-height: 25px;
    }
    
    b {
        font-size: 19px;
    }
    
    code {
        font-size: 16px;
    }

    img {
        width: 500px;
    }
}