body {
    font-family: 'Trebuchet MS';
    background-color: #fef6e4;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    border: 2px solid #001858;
    border-top: none;
}

.title {
    text-align: center;
    font-size: 36px;
    color: #001858;
    background-color: #f3d2c1;
    margin: 0;
    margin-top: 80px;
    padding: 40px;
    letter-spacing: 4px;
    border-top: 2px solid #001858;
}

.counter {
    text-align: center;
    padding: 50px 0;
    font-size: 54px;
    color: #001858;
}

.buttons {
    text-align: center;
    padding-top: 40px;
    background-color: #5abac7;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#button-1, #button-2, #button-3 {
    border: none;
    width: 140px;
    height: 50px;
    margin: 10px;
    background-color: #f3d2c1;
    color: #001858;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px;
}

#button-1:hover, #button-2:hover, #button-3:hover {
    background-color: #001858;
    color: #f3d2c1;
}